<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Chad McElligott</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow,noodp">
    <meta name="googlebot" content="index,follow">
    <link rel="alternate" type="application/atom+xml" title="Atom Feed for chadxz.dev" href="/feed.xml" />
    <link rel="stylesheet" href="/style.css" type="text/css" media="all" />
</head>

<body>
{{ content | safe }}
</body>
</html>
