---
layout: base.njk
---
<main>
    {{ content | safe }}
</main>
<footer>
    <form
        action="https://buttondown.email/api/emails/embed-subscribe/chadxz"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/chadxz', 'popupwindow')"
        name="subscribe"
    >
        <p>Interested in staying in touch? Enter your email and I will send you a note when I post new content.</p>
        <label for="subscribe-email">Email</label>
        <input type="email" name="email" id="subscribe-email" placeholder="your@email.com" />
        <input type="hidden" value="1" name="embed" />
        <input type="submit" value="Subscribe" />
    </form>
</footer>
