---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    {% set absoluteFeedUrl %}{{ permalink | url | absoluteUrl(meta.url) }}{% endset %}
    <title>{{ meta.title }}</title>
    <subtitle>{{ meta.subtitle }}</subtitle>
    <link href="{{ absoluteFeedUrl }}" rel="self" type="application/atom+xml" />
    <link href="{{ meta.url }}" rel="alternate" type="text/html" />
    <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ meta.url }}</id>
    <icon>{{ absoluteFeedUrl }}/apple-touch-icon.png</icon>
    <author>
        <name>{{ meta.author.name }}</name>
        <email>{{ meta.author.email }}</email>
    </author>
    {%- for post in collections.posts | reverse %}
        {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(meta.url) }}{% endset %}
        <entry>
            <title>{{ post.data.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ post.date | dateToRfc3339 }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <content type="html"><![CDATA[
                {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
            ]]></content>
        </entry>
    {%- endfor %}
</feed>
