@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.direct-link {
  visibility: hidden;
  font-size: 75%;
  opacity: 45%;
}

h2:hover .direct-link, h3:hover .direct-link {
  visibility: visible;
  text-decoration: none;
}
