{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Chad McElligott</title>
    <meta name="description" content="">
    <link rel="canonical" href="{{ absolutePageUrl }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow,noodp">
    <meta name="googlebot" content="index,follow">
    <link rel="alternate" type="application/atom+xml" title="{{ meta.title }}" href="/feed.xml" />
    <link rel="stylesheet" href="/style.css?v={% version %}" type="text/css" media="all" />
    <link rel="author" href="/humans.txt" />
</head>

<body>
    <header class="m-4 max-w-screen-xl xl:mx-auto">
        <a href="/">
            <img src="/avatar.png" class="w-14 h-14 rounded-md inline mr-2 shadow-lg" />
            <span class="font-serif font-normal text-gray-900 text-xl align-middle">Chad McElligott</span>
        </a>
        <hr class="mt-4 mb-6" />
    </header>

    <main class="mx-auto px-2 prose lg:prose-xl">
        {{ content | safe }}
    </main>
</body>
</html>
