{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }} ~ chadxz.dev{% else %}chadxz.dev{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow,noodp" />
    <meta name="googlebot" content="index,follow" />
    <meta name="author" content="{{ meta.author.name }}" />
    <meta name="description" content="{% if description %}{{ description }}. {% endif %}{% if title %}A post by {% endif %}{{ meta.author.name }}" />
    <meta property="og:title" content="{% if title %}{{ title }} ~ chadxz.dev{% else %}chadxz.dev{% endif %}" />
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}{% if title %}A post by {% endif %}{{ meta.author.name }}{% endif %}" />
    <meta property="og:image" content="{% getSharingImage page %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ absolutePageUrl }}" />
    <meta property="og:site_name" content="{{ meta.title }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@chadmcelligott" />
    <meta name="twitter:label1" content="Est. reading time" />
    <meta name="twitter:data1" content="{{ content | readingTime({ speed: settings.wpm }) }}" />
    <link rel="alternate" type="application/atom+xml" title="{{ meta.title }}" href="/feed.xml" />
    <link rel="stylesheet" href="/style.css?v={% version %}" type="text/css" media="all" />
    <link href="mailto:chad@chadxz.dev" rel="me" />
    <link href="https://twitter.com/chadmcelligott" rel="me" />
    <link href="https://github.com/chadxz" rel="me" />
    <link rel="shortcut icon" href="{{ '/favicon.ico' | absoluteUrl(meta.url) }}?v={% version %}" />
    <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | absoluteUrl(meta.url) }}?v={% version %}" />
    <link rel="author" href="/humans.txt" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="canonical" href="{{ absolutePageUrl }}" />
</head>

<body>
    <header class="m-4 max-w-screen-xl xl:mx-auto">
        <a href="/">
            <img src="/header-avatar.jpg" class="w-14 h-14 rounded-md inline mr-2" />
            <span class="font-sans text-gray-900 text-xl align-middle">Chad McElligott</span>
        </a>
        <hr class="mt-4 mb-6" />
    </header>

    {{ content | safe }}
</body>
</html>
