---
layout: base.njk
---
<main>
    <h1 class="!mb-1 lg:!mb-3 !mt-6">{{ title }}</h1>
    <div class="text-gray-400 flex flex-wrap justify-center sm:justify-start whitespace-nowrap">
        <div class="flex items-center leading-6 space-x-1 mx-3 sm:ml-0 my-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            <span>{{ date | formatDate('MMMM qo, yyyy') }}</span>
        </div>

        <div class="flex items-center leading-6 space-x-1 mx-3 my-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>{{ content | readingTime({ speed: 220 }) }} read</span>
        </div>

        <div class="flex items-center leading-6 space-x-1 mx-3 my-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
            </svg>
            <span>{{ tags | reject('eq', 'posts') | sort | join(', ') }}</span>
        </div>
    </div>
    {{ content | safe }}
</main>
<footer>
    <form
        action="https://buttondown.email/api/emails/embed-subscribe/chadxz"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/chadxz', 'popupwindow')"
        name="subscribe"
        class="rounded-xl shadow-md p-5 pt-0.5 mb-10 bg-indigo-100"
    >
        <p>Interested in staying in touch? Enter your email and I will send you a note when I post new content.</p>
        <input required type="email" name="email" id="subscribe-email" placeholder="your@email.com" class="placeholder-blueGray-300 text-blueGray-600 px-2 py-2 relative bg-white bg-white rounded border-0 shadow outline-none focus:outline-none focus:ring w-auto" />
        <input type="hidden" value="1" name="embed" />
        <button class="bg-indigo-500 text-white active:bg-indigo-600 px-2 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none ml-1 mb-1 ease-linear transition-all duration-150">Subscribe</button>
    </form>
</footer>
